<style>
.category_filter {
	width: 800px;
	border: 1px solid #e6e6e6;
	border-bottom: 5px solid #e6e6e6;
}

.category_filter  table {
	width: 800px;
}

.category_filter td {
	padding: 10px;
	border: 0px;
	border-top: 1px dotted #e6e6e6;
	border-top: 1px dotted #e6e6e6;
}

.category_name {
	width: 120px;
	background: #f5f5f5 none repeat scroll 0 0;
}

.sort_panel {
	height: 40px;
	margin-top: 3px;
	border: 1px solid #e6e6e6;
}

.list-panel {
	margin-top: 5px;
	border: 1px solid #e6e6e6;
	height: 400px;
}

.thumbnail img {
	width: 280px;
	height: 280px;
}

.pagination-container {
	width: 100%;
	text-align: right;
	padding-right: 40px;
	clear: both;
}

.crumbs-nav {
	line-height: 24px;
	padding-right: 125px;
	padding-top: 10px;
}

.crumbs-nav-item {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

.crumbs-first {
	color: #999;
	font-family: SimSun;
}

.crumbs-arrow {
	float: left;
	font-family: SimSun;
	font-style: normal;
	margin-right: 5px;
}

.crumb-select-item {
	background: #f3f3f3 none repeat scroll 0 0;
	border: 1px solid #ddd;
	cursor: pointer;
	float: left;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	margin: 0 5px 5px 0;
	padding: 0 26px 0 4px;
	position: relative;
	vertical-align: top;
}

.crumb-select-item em:hover {
	color: #e4393c;
}

.crumbs-nav-item {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

.crumb-select-item i {
	background: rgba(0, 0, 0, 0)
		url("//misc.360buyimg.com/product/search/0.0.17/css/i/search.ele.png")
		no-repeat scroll 7px -140px;
	display: block;
	height: 22px;
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
}

.crumb-select-item:hover i {
	background-color: #e4393c;
	background-position: 7px -158px;
}

.crumb-select-item em {
	color: #e4393c;
	font-style: normal;
}
</style>

<div ng-controller="itemListCtrl as vm">

	<div class="category_filter">
		<div class="category">
			<table cellspacing="0px">
				<tr>
					<td class="category_name">工艺</td>
					<td ng-repeat="cat in categoryObj.clothCategories"><a href="#" onclick="return false"
						ng-click="addFilterItems('craft',cat.name,'工艺' , cat.name)">{{cat.name}}</a></td>
				</tr>
				<tr>
					<td class="category_name">价格</td>
					<td ng-repeat="cat in categoryObj.priceCategories"><a href="#" onclick="return false"
						ng-click="addFilterItems('price',  cat.id,'价格', cat.name)">{{cat.name}}</a></td>
				</tr>
				<tr>
					<td class="category_name">风格</td>
					<td ng-repeat="cat in categoryObj.styleCategories"><a href="#" onclick="return false"
						ng-click="addFilterItems('style', cat.name,'风格', cat.name)">{{cat.name}}</a></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="crumbs-nav">
		<div class="crumbs-nav-main clearfix">
			<div class="crumbs-nav-item">
				<div class="crumbs-first">
					<a href="">全部结果</a>
				</div>
			</div>
			<i class="crumbs-arrow">&gt;</i> <a ng-repeat="(name, obj) in query" title="{{name}}" rel="nofollow" href="" class="crumb-select-item"><b>{{obj.label}}：</b><em>{{obj.display}}</em><i onclick="return false;" ng-click="removeFilterItems(name)"></i></a>
		</div>
	</div>

	<div class="preview-item thumbnail" ng-repeat="item in itemsInCurrentPage">
		<a href="#/buyi/detail?id={{item.id}}"><img style="width: 280px; height: 280px;" ng-src="{{item.previewImages[0]}}_280.jpg">
			<div class="preview-item-price">
				<span>¥</span><strong>{{item.price}}</strong>
			</div>
			<div class="preview-item-title">{{item.title}}</div></a>
	</div>

	<div class="pagination-container">
		<ul ng-if="vm.pager.pages.length" class="pagination">
			<li ng-class="{disabled:vm.pager.currentPage === 1}"><a ng-click="setPage(vm.pager.currentPage - 1)">Previous</a></li>
			<li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}"><a ng-click="setPage(page)">{{page}}</a>
			</li>
			<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}"><a ng-click="setPage(vm.pager.currentPage + 1)">Next</a></li>
		</ul>
	</div>

</div>