
<div class="panel panel-default" style="text-align: center">
	<div class="panel-body">
		<div class="links">
			<a target="_blank" href="https://100yilin.taobao.com/">以琳窗帘 - 淘宝店</a> | <a target="_blank"
				href='http://jiaju.sina.com.cn/'>新浪家居</a> | <a target="_blank" href="http://home.163.com/">网易家居</a> | <a
				target="_blank" href="http://www.pchouse.com.cn/">太平洋家居</a> | <a target="_blank" href="http://www.360changshi.com/">生活小常识</a>
		</div>
		<div class="copy-right" style="margin-top: 10px">
			Copyright© 2012-2016 以琳家纺 版权所有 &nbsp;&nbsp; 浙ICP备16017955号<br>
		</div>
		<div style="width: 300px; margin: 0 auto; padding: 20px 0;">
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802005271"
				style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px;"><img src="images/beian.png"
				style="float: left;" />
				<p style="float: left; height: 20px; line-height: 20px; margin: 0px 0px 0px 5px; color: #939393;">浙公网安备
					33010802005271号</p></a>
		</div>
	</div>
</div>