
<div class="panel panel-default" style="text-align: center">
	<div class="panel-body">
		<div class="links">
			<a target="_blank" href="https://100yilin.taobao.com/">以琳窗帘 - 淘宝店</a> | <a target="_blank" href='http://jiaju.sina.com.cn/'>新浪家居</a> | <a
				target="_blank" href="http://home.163.com/">网易家居</a> | <a target="_blank" href="http://www.pchouse.com.cn/">太平洋家居</a> | <a
				target="_blank" href="http://www.360changshi.com/">生活小常识</a>
		</div>
		<div class="copy-right" style="margin-top: 10px">
			© 2005-2014 以琳家纺 版权所有，并保留所有权利。<br> ICP备案证书号：浙ICP备10018824号
		</div>
	</div>
</div>