<img src="images/banner.jpg">

<nav class="navbar navbar-default">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0px;">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/index">以琳/Elim</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/index">首页</a></li>
				<li><a href="#/buyi">布艺窗帘</a></li>
				<li><a href="#/baiye">百叶窗帘</a></li>
				<li><a href="#/peijian">窗帘配件</a></li>
				<!-- <li><a href="#/recommend">推荐展示</a></li> -->
				<li><a href="#/case">成功案例</a></li>
				<li><a href="https://100yilin.taobao.com" target="_blank">淘宝网店</a></li>
			</ul>
		</div>
	</div>
</nav>