body {
	text-align: center;
}

.main-container {
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: left;
}

a:hover {
	text-decoration: none;
}

/* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */
.navbar-wrapper {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 51px;
}

.navbar-wrapper>.container {
	padding: 0;
}

@media all and (max-width: 768px ) {
	.navbar-wrapper {
		position: relative;
		top: 0px;
	}
}

.navbar-nav li {
	border-right: 1px solid #e7e7e7;
}

html, body {
	font-size: 14px;
	font-family: "microsoft yahei", Arial;
	outline: none;
	color: #666;
	background: #fff;
}

ul, ol {
	list-style: none;
}

img {
	border: none;
	outline: none;
}

a {
	color: #666;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #e8431f;
}

#floatDivBoxs {
	width: 170px;
	background: #fff;
	position: fixed;
	top: 100px;
	right: -170px;
	z-index: 999;
}

#floatDivBoxs .floatDtt {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #f08326;
	color: #fff;
	font-size: 18px;
	text-indent: 22px;
	position: relative;
}

#floatDivBoxs .floatDqq {
	padding: 0 14px;
}

#floatDivBoxs .floatDqq li {
	height: 45px;
	line-height: 45px;
	font-size: 15px;
	border-bottom: 1px solid #e3e3e3;
	text-align: right
}

#floatDivBoxs .floatDqq li img {
	float: left;
	margin-top: 7px;
}

#floatDivBoxs .floatDtxt {
	font-size: 18px;
	color: #333;
	padding: 12px 14px;
}

#floatDivBoxs .floatDtel {
	padding: 0 0 15px 10px;
}

#floatDivBoxs .floatImg {
	text-align: center;
	padding: 10px;
	background: #EBEBEB;
}

#floatDivBoxs .floatImg img {
	margin-bottom: 5px;
}

#floatDivBoxs .floatDtel img {
	display: block;
}

#floatDivBoxs .floatDbg {
	width: 100%;
	height: 20px;
	background: url(../images/online_botbg.jpg) no-repeat;
	box-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
}

.online-phone {
	font-weight: bold;
	font-size: 23px;
	color: #ff6600;
}

.floatShadow {
	background: #fff;
	box-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
}

#rightArrow {
	width: 50px;
	height: 45px;
	background: url(../images/online_arrow.jpg) no-repeat;
	position: fixed;
	top: 100px;
	right: 0;
	z-index: 999;
}

#rightArrow a {
	display: block;
	height: 45px;
}

.preview-item {
	width: 280px;
	height: 348px;
	float: left;
	margin-left: 15x;
	margin-right: 15px;
	display: block;
	padding-bottom: 15px;
	background-color: #fff;
	border-radius: 4px;
	display: block;
	line-height: 1.42857;
	margin-bottom: 20px;
	transition: border 0.2s ease-in-out 0s;
}

.preview-item:hover {
	border: 1px solid #7f6000;
}

.preview-item-price {
	float: left;
	font-size: 18px;
	font-family: arial;
	line-height: 22px;
	color: #f40;
	font-family: verdana, arial;
	font-weight: 700;
	margin-left: 5px;
	clear: right;
}

.preview-item-price span {
	margin-right: 3px;
	font-family: arial;
}

.preview-item-title {
	color: #3d3d3d;
	text-decoration: none;
	font-weight: 400;
	text-align: left;
	float: left;
}

.category-bar {
	font-size: 25px;
	border-bottom: 2px solid gray;
	text-align: left;
	width: 95%;
	margin-bottom: 5px;
	margin-left: 10px;
	cursor: pointer;
}

.category-bar .click-more {
	font-size: 20px;
	float: right;
	margin-top: 10px;
}

.category-bar .click-more .arrow {
	font-size: 15px;
}

.baiye-detail .detail-images-container li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.peijian-detail .detail-images-container li {
	margin-top: 10px;
	margin-bottom: 10px;
}