<div class="admin" ng-controller="soldCaseCtrl">
	<div style="height: 20px;"></div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>编号</th>
				<th>区域</th>
				<th>楼盘</th>
				<th>日期</th>
				<th><button class="btn btn-primary" data-toggle="modal" data-target="#sold-case-model">添加</button></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in soldCases">
				<td>{{item.id}}</td>
				<td>{{item.area}}</td>
				<td>{{item.garden}}</td>
				<td>{{item.date}}</td>
				<td><a ng-click="deleteItem(item._id,item._rev)" class="btn btn-small btn-danger">删除</a></td>
			</tr>
		</tbody>
	</table>

	<div class="modal fade" id="sold-case-model" tabindex="-1" role="dialog" aria-labelledby="sold-case-model-label"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="sold-case-model-label">案例-添加/修改</h4>
				</div>
				<form role="form" action="/api/sold-cases" method="POST">
					<div class="modal-body">
						<div class="form-group">
							<label for="name">日期</label> <input type="text" class="form-control" id="date" name="date" placeholder="请输入日期"
								required readonly>
						</div>
						<div class="form-group">
							<label for="name">区域</label> <input type="text" class="form-control" id="area" name="area" placeholder="请输入区域"
								required>
						</div>
						<div class="form-group">
							<label for="name">小区</label> <input type="text" class="form-control" id="area" name="garden"
								placeholder="请输入小区名称" required>
						</div>
						<div class="form-group">
							<label for="name">编号</label> <select class="form-control" id="imageFolder" name="imageFolder"
								placeholder="请输入图片目录编号" required><option value="">Select One</option>
								<option ng-repeat="folderName in folders" value="{{folderName}}">{{folderName}}</option></select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary" value="提交更改">提交更改</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>