<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta charset="UTF-8" />
<title>后台管理</title>
<% include ../include/script.html %>
</head>
<body>
<% include ../include/header.html %>
<div class="widget" style="width:100%;margin:0 auto;">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>类型</th>
				<th>货号</th>
				<th>价格</th>
				<th>计价单位</th>
				<th>
					<button class="btn btn-primary" onclick="javascript:location.href='/malachiye/baiyes/add'">添加</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<% baiyes.forEach(function(item){ %>
			<tr ng-repeat="item in baiyes">
				<td><%= item.subTypeDisplay%></td>
				<td><%= item.productId%></td>
				<td><%= item.price%></td>
				<td><%= item.unitDisplay%></td>
				<td><a class="btn btn-small btn-danger delete-item-button" data-id="<%= item._id%>">删除</a></td>
			</tr>
			<% }) %>
		</tbody>
	</table>
	
</div>

<script type="text/javascript">
	$(".delete-item-button").click(function(){
		$.ajax({
		    url: "/api/baiyes/"+$(this).data('id'),
		    type: 'DELETE',
		    success: function() {
		    	window.location.reload();
		    }
		});
	});
	
</script>
<% include ../../include/footer.html %>
</body>
</html>