<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>添加/编辑百叶帘</title>
<meta name="description"
	content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% include ../include/script.html %>
</head>
<body>
	<% include ../include/header.html %>
	<form role="form" action="/api/baiyes" method="post">
		<div class="modal-body">
			<div class="form-group">
				<label for="name">类型</label> <select class="form-control" id="subType" name="subType" required>
					<option value="">请选择类型</option>
					<option value="juan">卷帘</option>
					<option value="baiye">百叶帘</option>
					<option value="rousha">柔纱帘</option>
				</select>
			</div>
			<div class="form-group">
				<label for="name">货号</label> <input id="productId" class="form-control" name="productId" type="text"
					placeholder="请输入货号" required />
			</div>
			<div class="form-group">
				<label for="name">标题</label> <input id="title" class="form-control" name="title" type="text" placeholder="请输入标题"
					required />
			</div>
			<div class="form-group">
				<label for="name">价格</label><input type="text" class="form-control" id="price" name="price" placeholder="请输入价格"
					required />
			</div>
			<div class="form-group">
				<label for="name">计价单位</label> <select class="form-control" id="unit" name="unit" required>
					<option value="squaremeter">元/平方米</option>
				</select>
			</div>
		</div>
	</form>

	<div class="container" style="display:none;">
		<!-- The file upload form used as target for the file upload widget -->
		<form id="fileupload" action="" method="POST" enctype="multipart/form-data">
			<div class="row fileupload-buttonbar">
				<div class="col-lg-7">
					<span class="btn btn-success fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>添加图片...</span>
						<input type="file" name="files[]" multiple>
					</span>
					<button type="submit" class="btn btn-primary start">
						<i class="glyphicon glyphicon-upload"></i> <span>开始上传</span>
					</button>
					<button type="reset" class="btn btn-warning cancel">
						<i class="glyphicon glyphicon-ban-circle"></i> <span>取消上传</span>
					</button>
					<button type="button" class="btn btn-danger delete">
						<i class="glyphicon glyphicon-trash"></i> <span>全部删除</span>
					</button>
					<!-- The global file processing state -->
					<span class="fileupload-process"></span>
				</div>
				<!-- The global progress state -->
				<div class="col-lg-5 fileupload-progress fade">
					<!-- The global progress bar -->
					<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
						<div class="progress-bar progress-bar-success" style="width: 0%;"></div>
					</div>
					<!-- The extended global progress state -->
					<div class="progress-extended">&nbsp;</div>
				</div>
			</div>
			<!-- The table listing the files available for upload/download -->
			<table role="presentation" class="table table-striped">
				<tbody class="files"></tbody>
			</table>
		</form>

		<br>
	</div>
	<!-- The blueimp Gallery widget -->
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
		<div class="slides"></div>
		<h3 class="title"></h3>
		<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a> <a class="play-pause"></a>
		<ol class="indicator"></ol>
	</div>
	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
{%
	var fileGroups = [];
	var files = [];
	for (var i=0, file; file=o.files[i]; i++){
		if(i%6 == 0){
			files = [];
			files.push(file);
			fileGroups.push(files);
		} else {
			files.push(file);
		}
	}	
 %}
{% for (var j=0, files; files=fileGroups[j]; j++) { %}
<div class="row">

{% for (var i=0, file; file=files[i]; i++){ %}
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
    {% if (file.thumbnailUrl) { %}
    	<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
    {% } %}
      <div class="caption">
        <span class="size">({%=o.formatFileSize(file.size)%})</span>
        <p>
			<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
            </button>
		</p>
      </div>
    </div>
  </div>
{% } %}

</div>
{% } %}
</script>



	<div class="modal-footer">
		<button type="button" class="btn btn-primary" value="提交更改">提交更改</button>
	</div>

	<script type="text/javascript">
		$('#fileupload').fileupload({});
	
		$("#productId").change(function() {
			if ($("#productId").val() == "") {
				$(".container").hide();
			} else {
				$(".container").show();
				$('#fileupload').fileupload('option', 'url', "/api/baiyes/" + $("#productId").val() + "/images");
			}
		});
		$("#productId").change();

		$('#fileupload').addClass('fileupload-processing');
		$.ajax({
			url : $('#fileupload').fileupload('option', 'url'),
			dataType : 'json',
			context : $('#fileupload')[0]
		}).always(function() {
			$(this).removeClass('fileupload-processing');
		}).done(function(result) {
			$(this).fileupload('option', 'done').call(this, $.Event('done'), {
				result : result
			});
		});
	</script>

	<% include ../../include/footer.html %>
</body>
</html>
