<link href="/framework/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/framework/bootstrap/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/framework/jqueryui/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="/framework/jquery.fileupload/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="/framework/jquery.fileupload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/framework/jquery.fileupload/css/jquery.fileupload-ui.css">

<script src="/framework/jquery-2.2.2.js"></script>
<script src="http://lib.sinaapp.com/js/jquery-ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js" type="text/javascript"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/framework/bootstrap/datepicker/bootstrap-datetimepicker.min.js"></script>

<script src="/framework/jquery.fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/framework/jquery.fileupload/js/tmpl.min.js"></script>
<script src="/framework/jquery.fileupload/js/load-image.all.min.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.blueimp-gallery.min.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.fileupload.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.fileupload-process.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.fileupload-image.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.fileupload-audio.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.fileupload-video.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.fileupload-validate.js"></script>
<script src="/framework/jquery.fileupload/js/jquery.fileupload-ui.js"></script>
