<style>
.preview {
	width: 400px;
	float: left;
}

.preview img {
	width: 380px;
	float: left;
	margin: 2px;
}

.preview img.unfocus {
	border: 3px solid #FFFFFF;
}

.preview img.focus {
	border: 3px solid #c9033b;
}

.preview .thumbnails {
	margin-top: 5px;
}

.product-parameter {
	float: left;
	width: 63%;
	margin-left: 30px;
	text-align: left;
}

.product-parameter .title {
	color: #3c3c3c;
	font-size: 16px;
	font-weight: 700;
	padding: 8px;
	text-align: left;
}

.product-parameter .sub-title {
	font-weight: normal;
	font-weight: 700;
	text-align: left;
	padding-left: 8px;
	font-family: 微软雅黑;
	font-size: 15px;
	color: #c9033b;
}

.product-parameter .price {
	background-color: #fff2e8;
	width: 400px;
	padding: 10px 0 10px 15px;
	text-align: left;
	border-radius: 4px;
}

.product-parameter .price li {
	list-style: none;
}

.product-parameter .price li span {
	margin-left: 35px;
}

.product-parameter .price li.promotion-price {
	line-height: 26px;
}

.product-parameter .price li.promotion-price span {
	color: #f40;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: 700;
}

.clear {
	clear: left;
}

.preview-single img {
	width: 410px;
	height: 410px;
	border: 10px solid #AFFFFE;
}

.thumbnails {
	width: 420px;
}

.thumbnails img {
	width: 80px;
	height: 80px;
}

.delivery {
	text-align: left;
}

.detail-parameter {
	text-align: left;
	list-style-type: none;
	clear: left;
	color: #666;
	font-family: tahoma, arial, 微软雅黑, sans-serif;
}

.detail-parameter label {
	margin-right: 3px;
	font-weight: 550;
}

.detail-parameter-container h3 {
	text-align: left;
	font-weight: 900;
	color: #999;
	line-height: 22px;
	margin-bottom: 0px;
	font-size: 16px;
}

.detail-parameter-container hr {
	margin-top: 0px;
	margin-bottom: 5px;
}

.detail-parameter li {
	width: 30%;
	float: left;
	margin-top: 5px;
}

.swMain ul.anchor li a {
	width: 180px;
}

.favorable-activity {
	border: 1px solid #ddd;
	margin-top: 2em;
	width: 500px;
}

.favorable-activity h1 {
	display: inline;
	background: #fff;
	padding: 0px 10px;
	position: relative;
	top: -0.5em;
	color: #333;
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 15px;
	text-align: left;
	margin-left: 15px;
}

.favorable-activity p .tag {
	margin: 10px;
	border-radius: 0.5px;
	background-color: inactivecaptiontext;
	font-weight: bold;
	font-size: 14px;
	background: #c9033b none repeat scroll 0 0;
	padding: 3px;
	color: #fff;
}

.price-reference {
	margin-top: 5px;
}

.price-reference hr {
	margin-top: 3px;
	margin-top: 6px;
}

.kefu-service {
	border: 1px solid #ddd;
	border-radius: 0.5px;
	margin-top: 20px;
	width: 500px;
	padding: 5px;
}

.kefu-service li {
	margin: 5px;
}
</style>


<div class="product-show">
	<div class="preview">
		<div class="preview-single">
			<img ng-repeat="image in item.previewImages" data-u="image" ng-src="{{image}}_410.jpg" />
		</div>

		<div class="thumbnails">
			<img ng-repeat="image in item.previewImages" data-u="image" ng-src="{{image}}_80.jpg" repeat-done="initPreviewImages()" />
		</div>
	</div>
	<div class="product-parameter">
		<div class="title">
			<a href="#" target="_blank">{{item.title}}</a>
		</div>
		<ul class="price">
			<li class="promotion-price"><label>挂钩成品：</label><span>¥{{item.price}}.00元/米</span></li>
			<li class="promotion-price"><label>打孔成品：</label><span>¥{{item.price+5}}.00元/米</span></li>
			<li class="promotion-price"><label>韩褶成品：</label><span>¥{{item.price+5}}.00元/米</span></li>
		</ul>
		<div class="sub-title">单价包含一米布料、加工费，辅料费用,但不包括花边、珠珠、拼接的费用；幅高2.7米</div>
		<div class="favorable-activity">
			<h1>优惠活动</h1>
			<p>
				<span class="tag">(免费)上门测量</span><span class="tag">(免费)上门安装</span>
			</p>
		</div>
		<div class="price-reference">
			<span class="title" style="font-size: 20px; font-family: inherit; font-weight: 800; color: inherit; padding: 2px;">价格参考</span><span
				class="note" style="color: #FF0000;">(价格不包含轨道或罗马杆)</span>
			<hr>
			<ul>
				<li><label>A. 3米宽的满墙窗户,1.6倍褶皱</label>: 打孔成品 {{(item.price+5)*3*1.6}}元</li>
				<li><label>B. 单片2.5米宽的窗帘</label>: 挂钩成品{{item.price*2.5}}元</li>
				<li><label>C. 做满墙窗帘，墙宽4米，2.0倍褶皱</label>: 挂钩成品{{item.price*4*2}}元</li>
			</ul>
		</div>
		<div class="kefu-service">
			<ul class="floatDqq">
				<li><a target=blank href=tencent://message/?uin=335373989&Site=工具啦&Menu=yes><img border="0"
						SRC=http://wpa.qq.com/pa?p=1:335373989:6 alt="点击这里给我发消息"></a></li>
				<li><a target=blank href=tencent://message/?uin=335373989&Site=工具啦&Menu=yes><img border="0"
						SRC=http://wpa.qq.com/pa?p=1:335373989:6 alt="点击这里给我发消息"></a></li>
				<li><a target="_blank" href="http://amos.alicdn.com/msg.aw?v=2&uid=18069780350&site=cnalichn&s=10&charset=UTF-8"><img
						border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=18069780350&site=cnalichn&s=10&charset=UTF-8" alt="在线客服" /></a></li>
				<li><a target="_blank" href="http://amos.alicdn.com/msg.aw?v=2&uid=18069780350&site=cnalichn&s=10&charset=UTF-8"><img
						border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=18069780350&site=cnalichn&s=10&charset=UTF-8" alt="在线客服" /></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="detail-parameter-container">
	<h3>产品参数</h3>
	<hr>
	<ul class="detail-parameter">
		<li><label>品牌:</label>Elim/以琳</li>
		<li><label>颜色分类:</label><span ng-repeat="color in colors">{{color.name}}&nbsp;</span></li>
		<li><label>款式:</label>普通打褶 打孔帘 韩式打褶</li>
		<li><label>适用对象:</label>落地窗 飘窗 阳台 其他</li>
		<li><label>遮光率:</label>{{item.shadingPercent}}</li>
		<li><label>工艺:</label>{{item.craft}}</li>
		<li><label>风格:</label>{{item.style}}</li>
		<li><label>计价单位:</label>米</li>
		<li><label>是否含加工辅料费:</label>含加工辅料费</li>
		<li><label>原料:</label>{{item.material}}</li>
		<li><label>货号:</label>{{item.id}}</li>
	</ul>
</div>
</div>
<div class="clear"></div>
</div>